html,
body {
    font-size: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    position: relative;
    height: 638px;
}

.header .nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 100;
}

.navCon {
    width: 1000px;
    margin: 0 auto;
    height: 85px;
}

.navCon a h1 {
    position: absolute;
    left: 20px;
    display: inline-block;
    width: 325px;
    height: 85px;
    background: url(../images/logo1.png) no-repeat left center;
}

.navCon ul {
    position: absolute;
    right: 5px;
    top: 24px;
}

.navCon ul li {
    float: left;
    margin: 0 20px;
}

.navCon ul li a {
    color: #fff;
    font-size: 16px;
    padding: 5px 3px;
    display: block;
    height: 20px;
}

.banner {
    width: 100%;
    position: relative;
}

.banner li {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.banner li:nth-child(1) {
    opacity: 0;
}

.slide {
    width: 100%;
    height: 638px;
    display: block;
}

.slide1 {
    background: url(../images/banner1.jpg) no-repeat center top;
}

.slide2 {
    background: url(../images/banner2.jpg) no-repeat center top;
}

.f1 {
    width: 100%;
    color: #666;
}

.f1 h2 {
    margin-top: 80px;
    font-size: 48px;
    text-align: center;
}

.f1 p {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.f1 ul {
    width: 100%;
    padding: 30px 0 60px;
    text-align: center;
}

.f1 ul li {
    display: inline-block;
    margin: 0 25px;
}

.f1 ul li a span {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.f2 {
    width: 100%;
    position: relative;
    height: 751px;
}

.imgList {
    width: 100%;
}

.imgList li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
}

.imgList li h2 {
    font-size: 48px;
    margin-top: 80px;
}

.imgList li p {
    font-size: 14px;
    margin-top: 10px;
}

.imgList li:nth-child(1) {
    opacity: 0;
    background-image: url(../images/slide-car.jpg);
}

.imgList li:nth-child(2) {
    background-image: url(../images/slide-phone.jpg);
}

.imgList li:nth-child(3) {
    background-image: url(../images/slide-tv.jpg);
}

.imgList li:nth-child(4) {
    background-image: url(../images/slide-view.jpg);
}

.imgNav {
    width: 100%;
    position: absolute;
    bottom: 65px;
    text-align: center;
    z-index: 2;
}

.imgNav li {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 90px;
    display: inline-block;
    margin: 17px;
}

.imgNav li span {
    font-size: 18px;
}

.imgNav li.on {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 204, 153, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 204, 153, 0.5);
}

.imgNav li.move {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: #fff;
    background-color: #00CC99;
    -webkit-box-shadow: 0 0 0 30px transparent;
    box-shadow: 0 0 0 30px transparent;
}

.f3 {
    width: 100%;
    height: 800px;
    text-align: center;
    color: #666;
}

.f3 h2 {
    font-size: 48px;
    margin-top: 80px;
}

.f3 p {
    font-size: 16px;
    margin-top: 10px;
}

.points {
    position: relative;
    width: 100%;
}

.points div {
    position: absolute;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.points div:nth-child(1) {
    width: 134px;
    height: 134px;
    left: 140px;
    top: 80px;
    background-color: #2ee4a7;
    background-image: url(../images/1.png);
}

.points div:nth-child(2) {
    width: 154px;
    height: 154px;
    left: 290px;
    top: 278px;
    background-color: #2ee4a7;
    background-image: url(../images/2.png);
}

.points div:nth-child(3) {
    width: 120px;
    height: 120px;
    left: 390px;
    top: 60px;
    background-color: #fc0;
    background-image: url(../images/3.png);
}

.points div:nth-child(4) {
    width: 145px;
    height: 145px;
    left: 530px;
    top: 190px;
    background-color: #00b3b1;
    background-image: url(../images/4.png);
}

.points div:nth-child(5) {
    width: 200px;
    height: 200px;
    left: 640px;
    top: 400px;
    background-color: #fc0;
    background-image: url(../images/5.png);
}

.points div:nth-child(6) {
    width: 234px;
    height: 234px;
    left: 740px;
    top: 45px;
    background-color: #2ee4a7;
    background-image: url(../images/6.png);
}

.points div:nth-child(7) {
    width: 145px;
    height: 145px;
    left: 980px;
    top: 200px;
    background-color: #00b3b1;
    background-image: url(../images/7.png);
}

.points div:nth-child(8) {
    width: 160px;
    height: 160px;
    right: -70px;
    top: 190px;
    background-color: #fc0;
    background-image: url(../images/8.png);
}

.points div:nth-child(1) {
    width: 134px;
    height: 134px;
    left: 100px;
    top: 80px;
    background-color: #2ee4a7;
    background-image: url(../images/1.png);
}

.points div:nth-child(9) {
    width: 194px;
    height: 194px;
    left: -90px;
    top: 140px;
    background-color: #fc0;
    background-image: url(../images/0.png);
}

.points div.preRange {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 204, 153, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 204, 153, 0.5);
}

.points div.range {
    -webkit-box-shadow: 0 0 0 30px transparent;
    box-shadow: 0 0 0 30px transparent;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.f4 {
    width: 100%;
    height: 769px;
    color: #666;
    text-align: center;
    background-color: #f0f0f0;
}

.f4 h2 {
    padding-top: 80px;
    font-size: 48px;
}

.f4 p {
    margin-top: 10px;
    font-size: 16px;
}

.f4 ul {
    margin-top: 50px;
    width: 100%;
}

.f4 ul li {
    width: 263px;
    height: 450px;
    color: #666;
    background-color: #fff;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}

.f4 ul li a {
    color: #666;
}

.f4 ul li h4 {
    font-size: 24px;
    padding: 20px 23px 0;
}

.f4 ul li p {
    font-size: 14px;
    padding: 0 23px 23px;
}

.footer {
    width: 100%;
    height: 283px;
    background-color: #f7f7f7;
}

.infoWarp {
    width: 1000px;
    margin: 0 auto;
    padding-top: 45px;
}

.infoWarp dl {
    display: inline-block;
    width: 244px;
    height: auto;
    color: #999;
    font-size: 14px;
    vertical-align: top;
}

.infoWarp dl dt {
    font-size: 16px;
    color: #666;
    width: 100%;
    height: 24px;
    line-height: 24px;
}

.infoWarp dl dd {
    height: 21px;
    width: 100%;
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scialInfo {
    width: 1000px;
    height: 63px;
    margin: 0 auto;
}

.scialInfo li {
    width: 48px;
    height: 48px;
    margin-left: 10px;
    display: inline-block;
}

.scialInfo li:nth-child(1) {
    background: url(../images/sina.png) no-repeat center center;
}

.scialInfo li:nth-child(2) {
    background: url(../images/wx.png) no-repeat center center;
}

.scialInfo li:nth-child(3) {
    background: url(../images/mail.png) no-repeat center center;
}

.alinkWarp {
    border-top: 1px solid #eaeaea;
    width: 100%;
    background: #f7f7f7;
    padding: 20px 10px;
}

.alinkWarp p {
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    color: #999;
}

.alinkWarp p a {
    color: #999;
    margin-right: 10px;
}

.alinkWarp p span {
    margin-left: 20px;
}

.info,
.alink {
    width: 1000px;
    font-size: 14px;
    margin: 0 auto;
}

.info,
.alink a {
    color: #999;
}

.info a,
.info span {
    font-size: 12px;
}

.alinkWarp p a:hover,
.navCon ul li a:hover,
.f1 ul li a span:hover,
.infoWarp dl dd:hover,
.info a,
.alink a:hover {
    color: #fd4f00;
}

@media screen and (min-width: 1000px) {
    .navCon {
        width: 1000px;
    }
}

@media screen and (max-width: 999px) {
    .header {
        height: 465px;
    }
    .slide {
        background-size: 1399px 465px;
    }
    .navCon a h1 {
        background: url(../images/logo2.png) no-repeat left center;
        background-size: 272px 33px;
        width: 135px;
    }
    .navCon ul li {
        margin: 0 15px;
    }
    .f1 h2 {
        font-size: 36px;
        margin-top: 50px;
    }
    .f1 p {
        font-size: 14px;
        margin-top: 5px;
    }
    .f1 ul li {
        max-width: 16%;
    }
    .f1 ul li a img {
        max-width: 100px;
    }
    .pic1 a img {
        width: 70px;
    }
    .pic2 a img,
    .pic3 a img {
        width: 50px;
    }
    .f2 {
        height: 465px;
    }
    .imgList li h2 {
        font-size: 36px;
        margin-top: 50px;
    }
    .imgList li p {
        font-size: 14px;
    }
    .imgList li {
        -webkit-background-size: 1399px 465px;
        background-size: 1399px 465px;
    }
    .f3 {
        height: 465px;
        overflow: hidden;
    }
    .f3 h2 {
        font-size: 36px;
        margin-top: 50px;
    }
    .f4 {
        height: 555px;
    }
    .f4 h2 {
        font-size: 36px;
        padding-top: 50px;
    }
    .f4 ul {
        margin-top: 10px;
    }
    .f4 ul li {
        width: 30%;
        height: auto;
        vertical-align: top;
    }
    .f4 ul li img {
        width: 100%;
    }
    .f4 ul li h4 {
        font-size: 16px;
        padding: 10px 10px 0;
    }
    .f4 ul li p {
        font-size: 12px;
        padding: 5px 10px 10px;
    }
    /*.footer {
        padding-bottom: 25px;
        padding: 45px 0 0;
    }*/
    .infoWarp {
        width: 100%;
    }
    .infoWarp dl {
        width: 16.9%;
        padding: 0 4%;
    }
    .infoWarp dl:nth-child(4) {
        width: 75px;
    }
    .scialInfo {
        width: 100%;
        text-align: center;
    }
    .alink {
        display: none;
    }
    .info {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 795px) {
    .header ul li {
        margin: 0 6px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 300px;
    }
    .slide {
        background-size: 902px 300px;
    }
    .header .nav {
        background-color: #fd4f00;
        height: 50px;
    }
    .navCon a h1 {
        height: 50px;
        z-index: 101;
    }
    .navCon {
        height: 50px;
    }
    .navCon ul {
        top: 50px;
        height: auto;
        right: 0;
        display: none;
        background-color: #fd4f00;
        width: 100%;
    }
    .navCon ul li {
        float: none;
        margin: 0;
        padding-left: 20px;
    }
    .navCon ul li a {
        padding: 0;
        line-height: 40px;
        height: 40px;
        width: 100%;
    }
    .navCon ul li a:hover {
        color: #fff;
    }
    .f1 h2 {
        font-size: 20px;
        margin: 30px 20px 5px;
        text-align: left;
    }
    .f1 p {
        font-size: 12px;
        margin-left: 20px;
        text-align: left;
    }
    .f1 ul li {
        width: 35%;
        max-width: 100%;
        margin: 0;
    }
    .f2 {
        height: 300px;
    }
    .imgList li {
        -webkit-background-size: 902px 300px;
        background-size: 902px 300px;
    }
    .imgList li h2 {
        font-size: 20px;
        text-align: left;
        margin-top: 50px;
        margin-left: 20px;
    }
    .imgList li p {
        font-size: 14px;
        text-align: left;
        margin-top: 5px;
        margin-left: 20px;
    }
    .imgNav {
        bottom: 20px;
        height: 65px;
        line-height: 65;
    }
    .imgNav li {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .imgNav li span {
        font-size: 12px;
    }
    .f3 {
        height: 300px;
    }
    .f3 h2 {
        font-size: 20px;
        margin: 30px 20px 5px;
        text-align: left;
    }
    .f3 p {
        font-size: 12px;
        text-align: left;
        margin-top: 5px;
        margin-left: 20px;
    }
    .f4 {
        height: 415px;
    }
    .f4 h2 {
        font-size: 20px;
        margin: 30px 20px 5px;
        text-align: left;
    }
    .f4 p {
        font-size: 12px;
        text-align: left;
        margin-top: 5px;
        margin-left: 20px;
    }
    .f4 ul li {
        width: 96%;
        margin: 0 4%;
        background: none;
    }
    .f4 ul li img {
        width: 20px;
        height: 20px;
        float: left;
        margin: 15px 5px 0 0;
    }
    .f4 ul li h4 {
        font-size: 16px;
        text-align: left;
        padding: 15px 30px 0;
    }
    .f4 ul li p {
        font-size: 12px;
        text-align: left;
        margin-top: 10px;
        margin-left: 0px;
        padding: 0;
    }
    .footer {
        height: 100%;
    }
    .infoWarp {
        padding-top: 0;
        font-size: 12px;
    }
    .infoWarp dl {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #EAEAEA;
        overflow: hidden;
    }
    .infoWarp dl dt {
        line-height: 50px;
        height: 100%;
    }
    .scialInfo {
        display: none;
    }
    .info a,
    .info span {
        display: block;
    }
}
